*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family:'Montserrat';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.navbar navbar-expand-lg navbar-light bg-light{
    background: rgba(2, 80, 17, 1);
    padding-inline: 16px;
}

.navbar-nav{
    display: flex;
    gap: 32px;
}

.navbar-nav a {
    font-size: 18px;
    padding-block: 16px;
}