*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
  margin: 0;
  font-family:'Montserrat';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
}

.navbar navbar-expand-lg navbar-light bg-light{
    background: rgba(2, 80, 17, 1);
    padding-inline: 16px;
}

.navbar-nav{
    display: flex;
    gap: 32px;
}

.navbar-nav a {
    font-size: 18px;
    padding-block: 16px;
}

/* EQUIPE */

main{
    width: 96%;
    margin: 1rem auto 4rem;
}

.imagem{
    overflow: hidden;
    right: auto;
    justify-content: right;
}

.container h1{
    text-align: center;
    padding: 50px;
}

.container p{
    font-size: 20px;
    text-align: justify;
}

/* parte dos integrantes */

.wrapper{
    background: linear-gradient(rgba(168, 236, 180, 0.49), rgba(3, 107, 22, 0.9802));
    width: 95%px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
  
}

h2{
    text-align: center;
    color: #ffffff;
}

.members{
    display: flex;
}

.team-mem{
    margin: 8px;
}

.members img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px;
}

h4, p{
    text-align: center;
    font-size: 12px;
    margin: 7px;
}